<html>
    <head>
        <title>About Us page</title>
    </head>
    <body>
        <nav class='navbar navbar-light bg-light'>
            <div class='container-fluid'>
                <div class='navbar-header'>
                    <a class="navbar-brand" href='#'> About Us</a>
                </div>
            </div>
        </nav>
        <h1>
            Welcome to BestCars dealership, home to thebest cars in North America. We selldomestic and imported cars at reasonable prices.
        </h1>
    </body>
</html>